<div class="card mt-3">
  <form class="needs-validation" novalidate [formGroup]="formGroup">
    <div class="card-header">
      <h4 [innerHtml]="formTitle"></h4>
    </div>
    <div class="form-row">
      <div class="col-sm-3" id="field">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && formError('name') }" />
        <div class="invalid-feedback" *ngIf="formError('name') && formError('name')['required']">
          Name is required.
        </div>
        <div class="invalid-feedback" *ngIf="formError('name') && formError('name')['minlength']">
          Name must be at least {{ formError("name")["minlength"].requiredLength }} characters long.
        </div>
        <div class="invalid-feedback" *ngIf="formError('name') && formError('name')['maxlength']">
          Name must be less than {{ formError("name")["maxlength"].requiredLength }} characters long.
        </div>
      </div>
      <div class="col-sm-4" id="field">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && formError('email') }" />
        <div class="invalid-feedback" *ngIf="formError('email') && formError('email')['required']">
          Email is required.
        </div>
        <div class="invalid-feedback" *ngIf="formError('email') && formError('email')['email']">
          Enter a valid email address.
        </div>
      </div>
    </div>
    <div id="buttons">
      <button type="sumit" class="btn btn-primary" (click)="onSubmit()">
        Save
      </button>
      <button type="button" class="btn btn-default" [routerLink]="['/']">
        Back
      </button>
    </div>
  </form>
</div>